.container {
    max-width: 991px;
    margin: 100px auto;
}
.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.p-3 {
  padding: 48px 12px;
}

.inputBox {
  display: flex;
  gap: 24px;
  input {
    background-color: white;
    line-height: 36px;
    color: black;
    padding: 4px 12px;
  }
}
