.container {
    max-width: 991px;
    margin: 100px auto;
}
.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-3 {
  padding: 48px 12px;
}
