.grid_item {
  display: flex;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 600;
  color: Black;

  &:hover {
    background-color: #f0f0f0;
  }

}

.active {
  background-color: #d0f0c0;
  border-color: #4caf50;
}

.input {
  width: unset;
  background-color: unset;
  color: black;
  max-width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  border: unset !important;
}
