.active {
  color: lightgreen;
}
.currentWord {
  text-transform: uppercase;
  letter-spacing: 0.5em;

  strong{
    text-align: center;
    border-bottom: 2px dashed white;
    padding-left: 4px;
    padding-bottom: 4px;
    min-width: 100px;
    display: inline-flex;
  }
}
